.page-not-found {
  text-align: center;
  margin-top: 7vw;
  margin-bottom: 7vw;
  .page-not-found__title {
    color: #252525;
    font-size: 15vw;
    font-weight: 600;
    margin-bottom: 0;
  }
  .page-not-found__text {
    color: #252525;
    font-size: 3vw;
    font-weight: 400;
    margin-bottom: 0;
  }
}