@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}
$bg: #282936;
$white:white;
$black: #00a3d4;
.button_place{
  text-align: center;
  width:200px;
  border-radius:150px;
  cursor: pointer;
  outline: none;
  border:0px;
    background: transparent;
  & a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    } 
  & .learn-more_btn{
    width: 200px;
    background: transparent;
    padding: 0px;
    margin: 0px;
    outline: none;
  }
  & .learn-more {
    border:1px solid $black;
     height: 50px;
      position: relative;
    display: flex;
    align-items: center;
    border-radius:150px;
    .circle {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: absolute;
      right: -1px;
      width: 50px;
      height: 50px;
      background:$black;
    border-radius: 150px;
      top: -1px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      //    .icon {
      //  @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      //  position: absolute;
      //  top: 0;
      //  bottom: 0;
      //  margin: auto;
      //  background: white;
      //  &.arrow {
      //    @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      //    left: 10px;
      //    width: 20px;
      //    height: 2px;
      //    background: none;
      //    &::before {
      //      position: absolute;
      //      content: '';
      //      top: -4.2px;
      //      right: 0px;
      //      width: 10px;
      //      height: 10px;
      //      border-top: 2px solid #fff;
      //      border-right: 2px solid #fff;
      //      transform: rotate(45deg);
      //    }
      //  }
      //}
            & img{
              width: 37px;
              padding-right: 15px;
            }
    }
    .button-text {
      color: $black;
    font-size: 15px;
      line-height: 15px;
      /* padding: 18px 35px; */
      margin-bottom: 0px;
      margin: auto;
      position: relative;
      left: -15px;
    }
    &:hover {
      .circle {
        width: 101%;
        .icon {
          &.arrow {
            background: $white;
            transform: translate(1rem, 0);
          }
        }
      }
      .button-text {
        color: white;
        position:relative;
        // margin-left:19px;
      }
    }
  }
}
.button__price-place {
  & .learn-more_btn{
    width: 200px;
    background: transparent;
    padding: 0px;
    margin: 0px;
    outline: none;
  }
  & .learn-more {
    border:1px solid #00cc00;
    .circle {
      background: #00cc00;
    }
    .button-text {
      color: #00cc00;
    }
  }
}
.enter__button {
  & .learn-more_btn{
    width: 200px;
    background: transparent;
    padding: 0px;
    margin: 0px;
    outline: none;
  }
  & .learn-more {
    border:1px solid #00cc00;
    .circle {
      background: #00cc00;
    }
    .button-text {
      color: #00cc00;
    }
  }
}
.product-card__button {
  & .learn-more {
    border:1px solid #00cc00;
    .circle {
      background:#00cc00;
    }
    .button-text {
      color: #00cc00;
    }
  }
}